body{
    margin:0;
    background-color: #736F4E;
}

.site-id{
    display:block;
    margin: auto;
    max-width: 50%;
    text-align: center;
    margin-top: 30px;
}

.img{
    background-color: #736F4E;
    display:flex;
    align-items: center;
    height: 125px;
    margin-bottom: 30px;
}



.wide-nav{
    background-color: #B4C292;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin: 0;
}

.wide-nav-item{
    margin: auto 8px;
    flex: 1 0 0;
}

.wide-link{
    color: #4C061D;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.wide-link:hover{
    font-weight: bold;
    
}

.site-nav{
    color:#B4C292;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    font-size: 38px;
    margin-top: 0;
    padding-left: 0;
    font-weight:bold;
    margin-bottom: 0;
}

.site-nav-item{
    margin: 0px;
    text-align: center;
    display:flex;
    align-items:center;
}

.site-nav-column{
    flex: 1 0 0;
    height: 300px;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
}

.site-nav-image-1{
    background-image: url("adventure-africa-image.jpg");
    background-size: cover;
    background-position: center;
}

.site-nav-image-2{
    background-image: url("african-waterhole-image.jpg");
    background-size: cover;
    background-position: center;
}

.site-nav-image-3{
    background-image: url("florence-mila-image.jpg");
    background-size: cover;
    background-position: center;
}

.site-nav-image-4{
    background-image: url("north-america-image.jpg");
    background-size: cover;
    background-position: center;
}

.site-nav-image-5{
    background-image: url("northwestern-mutual-image.webp");
    background-size: cover;
    background-position: top;
}

.site-nav-image-6{
    background-image: url("primates-image.jpeg");
    background-size: cover;
    background-position: bottom;
}

.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
}

.line{
    border-bottom-style: solid;
    border-color: #4C061D;
    position: absolute;
    right: 60px;
    bottom: 0;
    left: 60px;
    margin: 0;
}

.footer{
    background-color:#4C061D;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    color: #B4C292;
    margin: 0;

    display:flex;
    justify-content: space-evenly;
    padding: 20px;
}

.footer-list{
    margin: auto 8px;
    flex: 1 0 0;
}

.footer-list-item{
    color: #B4C292;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.footer-list-item:hover{
   font-weight: bold; 
}

.h1{
    color:#4C061D;
    background-color:#B4C292;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.about{
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400; 
    color:#4C061D;
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    line-height: 2;
}