.site-id{
    display:block;
    margin: auto;
    width: 50%;
}

.wide-nav{
    background-color: #B4C292;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
}

.wide-nav-item{
    margin: auto 8px;
}

.wide-link{
    color: #4C061D;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}

.wide-link:hover{
    background-color: #d6ddc647;
}
