body{
    margin:0;
    background-color: #736F4E;
}

.site-id{
    display:block;
    margin: auto;
    max-width: 50%;
    text-align: center;
}

.img{
    background-color: #736F4E;
    display:flex;
    align-items: center;
    height: 125px;
}



.wide-nav{
    background-color: #B4C292;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin: 0;
}

.wide-nav-item{
    margin: auto 8px;
    flex: 1 0 0;
}

.wide-link{
    color: #4C061D;
    display: block;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

.wide-link:hover{
    font-weight: bold;
    
}

.site-nav{
    color:#B4C292;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    font-size: 30px;
    margin-top: 0;
    padding-left: 0;
    font-weight:bold;
}

.site-nav-item{
    margin: 0px;
    text-align: center;
    display:flex;
    align-items:center;
}

.site-nav-column{
    flex: 1 0 0;
    height: 230px;
    display:flex;
    align-items:center;
    justify-content: center;
    position: relative;
}

.site-nav-image-1{
    background-image: url("adventure-africa-image.jpg");
    background-size: cover;
    background-position: center;
}

.arrow{
    position: absolute;
    right: 0;
    bottom: 0;
}

.line{
    border-bottom-style: solid;
    border-color: #4C061D;
    position: absolute;
    right: 20px;
    bottom: 0;
    left: 20px;
    margin: 0;
}
