body{
    margin:0;
    background-color: #736F4E;
}

.site-id{
    display:block;
    margin: 43px 293px;
    max-width: 50%;
}

.img{
    background-color: #736F4E;
    display:flex;
    align-items: center;
    height: 125px;
}



.wide-nav{
    background-color: #B4C292;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin: 0;
}

.wide-nav-item{
    margin: auto 8px;
}

.wide-link{
    color: #4C061D;
    display: block;
    padding: 10px 49px;
    text-align: center;
    text-decoration: none;
}

.wide-link:hover{
    font-weight: bold;
    
}

.site-nav{
    color:#B4C292;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    font-size: 30px;
}

.site-nav-item{
    margin: 100px;
    text-align: center;
    margin-right: 745px;
    border-style: solid;
}
