.aa-nav{
    background-color: #B4C292;
    list-style-type: none;
    display:flex;
    justify-content: space-evenly;
    padding: 0;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin: 0;
}

.aa-nav-item{
    margin: auto 8px;
    flex: 1 0 0;
}

.aa-list{
    color: #4C061D;
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
}



.aa-list:hover{
    font-weight: bold;
}

.about-animal{
    background-color: #B4C292;
    margin: 0;
    padding: 20px;
}

.animals{
    background-color:#B4C292;
    color: #4C061D;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin-top: 0;
    padding-left: 0;
    font-weight:bold;
    margin-bottom: 0;
}

.animals-item{
    margin: 0px;
    
    display:flex;
    align-items:center;
}

.animal-list-column{
    
    flex: 1 0 0;
    height: 400px;
    display:flex;
    align-items:flex-start;
    justify-content: flex-start;
    position: relative;
}

.animals-list{
    color:#B4C292;
    list-style-type: none;
    font-family: bouba-round-variable, sans-serif;
    font-style: normal;
    font-variation-settings: "wght" 400;
    margin-left: 20px;
    display: flex;
    justify-content: center;
}

.red-ruffed-lemur{
    background-image: url("Red-Ruffed-Lemur.jpg");
    background-size: cover;
    background-position: top;
}

.orangutan{
    background-image: url("orangutan.jpg");
    background-size: cover;
    background-position: center; 
}

.japanese-macaque{
    background-image: url("japanese-macaque.jpg");
    background-size: cover;
    background-position: center; 
}

.about-line{
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #4C061D;
    width: 100px;
    margin: 20px 0 0 0 ;
}

.info{
    display:flex;
    margin:0;
    padding: 0 20px 20px 20px;
}